<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/task-form.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/task-form.js"></script>
</head>
<body>
    <h1>Tasks</h1>

    {% include 'tasks/task_form.html.twig' %}

    <button onclick="deleteAllTasks()">Delete All Tasks</button>

    <table>
        <caption>List of Tasks</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Command</th>
                <th>Description</th>
                <th>Execute At</th>
                <th>Status</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.getId() }}</td>
                <td>{{ task.getCommand() }}</td>
                <td>{{ task.getDescription() }}</td>
                <td>{{ task.getExecuteAt() }}</td>
                <td{% if task.getStatus() == 'error' %} style="color: red;" {% elseif task.getStatus() == 'executed' %} style="color: green;" %} {% endif %}>{{ task.getStatus() }}</td>
                <td class="actions">
                    {% if task.getStatus() == 'pending' %}
                        <button onclick="editTask('{{ task.getId() }}', '{{ task.getCommand() }}', '{{ task.getDescription() }}', '{{ task.getExecuteAt() }}')">Edit</button>
                    {% endif %}
                    {% if task.getStatus() == 'pending' or task.getStatus() == 'error' %}
                        <button onclick="deleteTask('{{ task.getId() }}')">Delete</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Total tasks: {{ totalTasks }}</td>
            </tr>
        </tfoot>
    </table>

    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="?action=list&page={{ currentPage - 1 }}">Previous</a>
        {% endif %}

        <strong>Page(-s): </strong>
        {% for i in 1..totalPages %}
            {% if i == currentPage + 1 %}
                <strong>{{ i }}</strong>
            {% else %}
                <a href="?action=list&page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if currentPage < totalPages and totalPages != 1 %}
            <a href="?action=list&page={{ currentPage + 1 }}">Next</a>
        {% endif %}
    </div>
</body>
</html>